{% extends 'base.html' %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
    <h1>Your Cart</h1>
    
    {% if products %}
        <table>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} Taka (per kg)</td>
                    <td>
                        <!-- Add actions like remove from cart or proceed to checkout -->
                        <form action="{% url 'remove_from_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    
    
{% endblock %}
